@page "/samples"
@inherits SamplesBase

<PageTitle>Samples</PageTitle>

<h1 style="padding-top: 40px;padding-bottom: 40px;"><center>Needed Functionality:  Delivery Technique</center></h1>

@foreach (var manifest in Manifests)
{
    <p style="padding-left:40px;">

        <a class="@ComputeComplete(manifest)" href="@ComputeLink(manifest)" >@ModifyTitle(manifest)</a>
        @if (HasDemo(manifest))
        {
            <a class="btn badge bg-success ms-1 me-1" href="@manifest.DemoURL" >DEMO</a>
        }
        @if (HasCategory(manifest))
        {
            <span class="badge bg-primary ms-1 me-1">@manifest.Category</span>
        }
        @if (HasBadge(manifest))
        {
            <span class="badge bg-secondary ms-1 me-1">@manifest.Badge</span>
        }
        <span class="tip">@manifest.Tip</span>
    </p>
}


@* @foreach (var manifest in Manifests)
{
    <p>@manifest.Title</p>
} *@